<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <!-- Favicon -->
  <link rel="icon" href="{{ '/assets/img/cropped-sysdig_favicon-1-32x32.png' | relative_url }}" sizes="32x32" />
  <link rel="icon" href="{{ '/assets/img/cropped-sysdig_favicon-1-192x192.png' | relative_url }}" sizes="192x192" />
  <link rel="apple-touch-icon" href="{{ '/assets/img/cropped-sysdig_favicon-1-180x180.png' | relative_url }}" />
  <meta name="msapplication-TileImage" content="{{ '/assets/img/cropped-sysdig_favicon-1-270x270.png' | relative_url }}" />
</head>
