<header class="site-header">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="{{ /assets/img/shovel.png | relative_url }}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
  <span class="navbar-brand mb-0 h1">
    Sysdig Labs > <a class="navbar-brand mb-0 h1" href="#">{{ site.title | escape }}</a>
  </span>
</nav>

<div class="jumbotron text-center">
  <h1 class="display-4">Deploying Fargate Scanning in your AWS Account</h1>
  <p class="lead">CloudFormation template for scanning images when run in Amazon ECS + Fargate automatically using Sysdig Secure</p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <p>This guide explains how to deploy Fargate Scanning features for Sysdig Secure in your AWS Account. This have been packaged using a CloudFormation template, so that deploying this functionality will take only four clicks.</p>
    <div class="row justify-content-center">
      <div class="col-6">
        <hr/>
      </div>
    </div>
  </div>
</div>
</header>
