$dark: #253746;

@import "bootstrap/bootstrap.scss";
@import "rouge-github.scss";

body {
  color: $dark;
}

.header {
  @extend .jumbotron;
  @extend .text-center;
  background-image: url(/assets/img/background.svg);
  background-position-y: 50%;
  background-size: cover;
}

div.highlight {
  @extend .border;
  @extend .p-3;
  @extend .shadow;
  @extend .rounded;
  @extend .mb-3;
  @extend .mt-3;
}

.summary {
  @extend .p-4;
  @extend .position-relative;
  top: - $spacer * 5;
  background: $white;
  margin-bottom: - $spacer * 5;
}

h1, h2, h3, h4, h5, h6 {
  @extend .mt-4;
  @extend .mb-4;
}

.page-content {
  img {
    @extend .border;
    @extend .shadow;
    @extend .rounded;
    @extend .mb-3;
    @extend .mt-3;
  }
}

footer {
  @extend .mt-4;
}
