$dark: #253746;
$orange: #ff761b;
$body-color: $dark;
$link-color: $orange;

$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.0rem;
$line-height-base: 1.4;

@import "bootstrap/bootstrap.scss";
@import "rouge-github.scss";

.header {
  @extend .jumbotron;
  @extend .text-center;
  background-position-y: 50%;
  background-size: cover;
}

div.highlight {
  @extend .border;
  @extend .p-3;
  @extend .shadow;
  @extend .rounded;
  @extend .mb-3;
  @extend .mt-3;
}

.summary {
  @extend .mb-4;
}

h1, h2, h3, h4, h5, h6 {
  @extend .mt-4;
  @extend .mb-4;
}

.page-content {
  img {
    @extend .border;
    @extend .shadow;
    @extend .rounded;
    @extend .mb-3;
    @extend .mt-3;
    /* width: 100%; */
  }

  img.auto {
    width: auto;
  }

  table {
    @extend .table;
    @extend .table-hover;
    @extend .table-bordered;
  }
}

footer {
  @extend .mt-4;
}



/* Lesson and video buttons */



a.solid-btn {
  background-color: #88F;
  color: white;
  display: inline-block;
  width: 370px;
  padding: 5px 5px 5px 5px;
  margin: 1px 1px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
a.solid-btn:hover {
  background-color: orange;
  text-decoration: none;
}
a.solid-btn.lesson {
  background-image: url(/assets/icons/book.svg);
  padding-left: 35px;
} 
a.solid-btn-sm {
  width: 85px;
}
a.video {
  background-image: url(/assets/icons/youtube.svg);
  padding-left: 35px;
}

